@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VIPMontra";
  src: url("./assets/fonts/1FTV-VIP-Montra.ttf") format("truetype");
}

@font-face {
  font-family: "VIPRastaglion";
  src: url("./assets/fonts/1FTV-VIP-Rastaglion.otf") format("opentype");
}
